/*font-family: 'Baloo Tammudu 2', cursive;
font-family: 'Yanone Kaffeesatz', sans-serif;*/

:root {
    --h1: #1e90ff;
    --buttonOnClickBckGr: #123548;
    --buttonOnClickTxtBrdr: #93b7c3;


}


@media only screen and (max-width: 768px){
    .main {
        max-width: 90%;
        max-height: 90%;
        padding: 4px;
        display: flex;
        position: relative;
    }
    h1 {
        font-family: 'Baloo Tammudu 2';
        font-size: medium;
        color: var(--h1);
    }
    
}

@media only screen and (max-width: 1200px){
    .main {
        max-width: 90%;
        max-height: 90%;
        padding: 6px;
        display: flex;
    }
    h1 {
        font-family: 'Baloo Tammudu 2';
        font-size: medium;
        color: var(--h1);
    }
    
    #glassOfBeer {
        max-height: 300px;
        max-width: 180px;
        padding: 10px;
        margin: 10px;
        border-radius: 4px;
        display: flex;
    }
}


.main {
    max-width: 90%;
    min-width: 20%;
    max-height: 90%;
    min-height: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.buttons {
    max-width: 90%;
    min-width: 20%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
h1 {
    font-family: 'Baloo Tammudu 2';
    font-size: large;
    color: var(--h1);
}